<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
</head>

<body>
    <!-- Sidebar -->
    <ul th:fragment="header" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/bo/tests}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">MCQ Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/bo/tests}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">Interface</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item"
            th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'users')} ? ' active' : '' "
            sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Người Dùng</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Các Trang:</h6>
                    <a class="collapse-item" th:href="@{/bo/users/list}">Danh Sách</a>
                    <a class="collapse-item" th:href="@{/bo/users/waiting-list}">Danh Sách Chờ</a>
                    <a class="collapse-item" th:href="@{/bo/users/new}">Thêm Mới</a>
                </div>
            </div>
        </li>
        <li class="nav-item"
            th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'tests')} ? ' active' : '' "
            sec:authorize="hasAnyAuthority('ADMIN', 'INSPECTOR')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="true" aria-controls="collapseThree">
                <i class="fas fa-book-open"></i>
                <span>Đề thi</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Các Trang:</h6>
                    <a class="collapse-item" th:href="@{/bo/tests}">Danh Sách</a>
                    <a class="collapse-item" th:href="@{/bo/tests/new}">Thêm Mới</a>
                </div>
            </div>
        </li>
        <li class="nav-item"
            th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'questions')} ? ' active' : '' "
            sec:authorize="hasAnyAuthority('ADMIN', 'INSPECTOR')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
                aria-expanded="true" aria-controls="collapseFour">
                <i class="fas fa-fw fa-question-circle"></i>
                <span>Câu hỏi</span>
            </a>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Các Trang:</h6>
                    <a class="collapse-item" th:href="@{/bo/questions}">Danh Sách</a>
                    <a class="collapse-item" th:href="@{/bo/questions/new}">Thêm Mới</a>
                </div>
            </div>
        </li>
        <li class="nav-item"
            th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'test-feedbacks')} ? ' active' : '' "
            sec:authorize="hasAnyAuthority('ADMIN', 'INSPECTOR')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
                aria-expanded="true" aria-controls="collapseFive">
                <i class="fas fa-fw fa-comments"></i>
                <span>Phản hồi đề thi</span>
            </a>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Các Trang:</h6>
                    <a class="collapse-item" th:href="@{/bo/test-feedbacks}">Danh Sách</a>
                </div>
            </div>
        </li>
        <li class="nav-item"
            th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'comments')} ? ' active' : '' "
            sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix"
                aria-expanded="true" aria-controls="collapseSix">
                <i class="fas fa-fw fa-envelope"></i>
                <span>Bình luận</span>
            </a>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Các Trang:</h6>
                    <a class="collapse-item" th:href="@{/bo/comments}">Danh Sách</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">Addons</div>

        <!-- Nav Item - Charts -->
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" th:href="@{bo/charts}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
</body>

</html>