<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>

<meta  content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <header th:fragment="navbar">
        <div class="content">
            <div class="header">
                <div class="d-flex" style="position: relative; background-color: #EEF7F2;">
                    <div class="hd-logo"></div>
                    <div class="header-label font-weight-bold text-capitalize">
                        Ngân hàng câu hỏi trắc nghiệm online
                        <a href="home.html"></a>
                    </div>
                    <div class="ml-auto mr-3 d-flex align-items-end">
                        <!-- not authentication -->
                        <div sec:authorize="isAnonymous()">
                            <input type="button" class="btn btn-primary" id="btnLogin" value="Đăng nhập">
                            <input type="button" class="btn btn-primary" id="btnSignUp" value="Đăng ký">
                        </div>
                        <!-- authentication -->
                        <div sec:authorize="isAuthenticated()">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user fa-fw pr-2"></i>
                                        <span th:text="'Chào ' + ${#authentication.getPrincipal().getUsername()}">Chào
                                            bạn</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                        <a class="dropdown-item" th:href="@{/fo/user/profile}">Thông tin cá nhân</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="@{/fo/logout}">Đăng xuất</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-labelledby="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" th:href="@{/fo/index}">Trang chủ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                            th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'questions')} ? ' active' : '' "
                            id="navbarDropdown-question" role="button" data-toggle="dropdown">Câu hỏi</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown-question">
                            <li>
                                <a class="dropdown-item dropdown-toggle" href="#">Tạo mới</a>
                                <ul class="submenu dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" th:href="@{/fo/questions/one-ans}">Câu hỏi đơn</a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/fo/questions/multiple-ans}">Câu hỏi
                                            nhiều đáp án</a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/fo/questions/yes-no}">Câu hỏi đúng sai
                                            ngắn</a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/fo/questions/true-false}">Câu hỏi đúng
                                            sai</a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/fo/questions/underline}">Câu hỏi gạch
                                            chân</a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/fo/questions/matching}">Câu hỏi gạch
                                            chéo</a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/fo/questions/filling}">Câu hỏi điền
                                            khuyết dạng đơn</a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/fo/questions/group-filling}">Câu hỏi
                                            điền khuyết dạng nhóm</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                            th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'contests')} ? ' active' : '' "
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đề thi</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Đề thi của tôi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/fo/contests}">Tạo mới</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'policy')} ? ' active' : '' "
                            th:href="@{/fo/policy}">Chính sách</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'contact')} ? ' active' : '' "
                            th:href="@{/fo/contact}">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hướng dẫn sử dụng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'software-info')} ? ' active' : '' "
                            th:href="@{/fo/software-info}">Thông tin phần mềm</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

</body>

</html>
