<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
</head>

<body>
    <th:block th:fragment="question" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <div id="question-detail">
            <div class="frm-content">
                <p class="font-weight-bold" th:utext="${question.content}"></p>
            </div>
            <div class="question-answer">
                <div th:if="${question.type == T(vn.com.multiplechoice.dao.model.enums.QuestionType).MATCHING}">
                    <div class="row">
                        <div class="col-6">
                            <div class="flex-row">
                                <div class="ml-2"
                                    th:each="leftAnswerDto, leftAnswerDtoStat : *{question.leftAnswerDtos}">
                                    <p th:text="*{leftAnswerDto.answerLabel} + '. ' + *{leftAnswerDto.answerContent}">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="flex-row">
                                <div class="ml-2"
                                    th:each="rightAnswerDto, rightAnswerDtoStat : *{question.rightAnswerDtos}">
                                    <p th:text="*{rightAnswerDto.answerLabel} + '. ' + *{rightAnswerDto.answerContent}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${question.type == T(vn.com.multiplechoice.dao.model.enums.QuestionType).MATCHING}">
                        <div class="flex-row">
                            <div class="ml-2" th:each="answerDto, answerDtoStat : *{question.questionAnswerDtos}">
                                <p th:text="*{answerDto.answerLabel} + '. ' + *{answerDto.answerContent}">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </th:block>
</body>

</html>