<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
</head>

<body>
    <th:block th:fragment="question" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <div id="question-detail">
            <span th:if="${question.type == T(vn.com.multiplechoice.dao.model.enums.QuestionType).MATCHING}"
                th:text="${question.type}"> xcvxcv </span>
            <div class="frm-content">
                <p class="font-weight-bold" th:utext="${question.content}"></p>
            </div>
            <div class="question-answer">
                <div th:if="${question.type == T(vn.com.multiplechoice.dao.model.enums.QuestionType).MATCHING}">
                    <div class="row">
                        <div class="col-6">
                            <div class="flex-row" th:if="${question.answerA} != null">
                                <div class="ml-2">
                                    <p th:text="'A. ' + ${question.answerA}">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">Flex item 2</div>
                    </div>
                </div>
                <div th:unless="${question.type == T(vn.com.multiplechoice.dao.model.enums.QuestionType).MATCHING}">
                    <div class="flex-row" th:if="${question.answerA} != null">
                        <div class="ml-2">
                            <p th:text="'A. ' + ${question.answerA}">
                        </div>
                    </div>
                    <div class="flex-row" th:if="${question.answerB} != null">
                        <div class="ml-2">
                            <p th:text="'B. ' + ${question.answerB}">
                        </div>
                    </div>
                    <div class="flex-row" th:if="${question.answerC} != null">
                        <div class="ml-2">
                            <p th:text="'C. ' + ${question.answerC}">
                        </div>
                    </div>
                    <div class="flex-row" th:if="${question.answerD} != null">
                        <div class="ml-2">
                            <p th:text="'D. ' + ${question.answerD}">
                        </div>
                    </div>
                    <div class="flex-row" th:if="${question.answerE} != null">
                        <div class="ml-2">
                            <p th:text="'E. ' + ${question.answerE}">
                        </div>
                    </div>
                    <div class="flex-row" th:if="${question.answerF} != null">
                        <div class="ml-2">
                            <p th:text="'F. ' + ${question.answerF}">
                        </div>
                    </div>
                    <div class="flex-row" th:if="${question.answerG} != null">
                        <div class="ml-2">
                            <p th:text="'G. ' + ${question.answerG}">
                        </div>
                    </div>
                    <div class="flex-row" th:if="${question.answerH} != null">
                        <div class="ml-2">
                            <p th:text="'H. ' + ${question.answerH}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </th:block>
</body>

</html>