/************************* COMMON *************************/
/* HEADER */
.hd-logo {
  background: url('../../static/imgs/header-logo.png');
  width: 308px;
  height: 144px;
  background-size: cover;
}

.page-header {
  bottom: 0;
  left: 325px;
  position: absolute;
  font-size: xx-large;
}

.bottom-text {
  bottom: 0;
  position: absolute;
  right: 0;
}

a {
  text-decoration: none !important;
}

h1, h2, h3 {
  font-family: 'Kaushan Script', cursive;
}

/* FOOTER */
.footer-copyright {
  border-top: 1px solid #cecece;
}

/************************* LOGIN & SIGNUP PAGE *************************/
.myform {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
}

.tx-tfm {
  text-transform: uppercase;
}

.mybtn {
  border-radius: 50px;
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.facebook {
  color: #666;
  width: 100%;
  height: 40px;
  text-align: center;
  outline: none;
  border: 1px solid lightgrey;
}

.fa {
  color: #127ac3;
}

form .error {
  color: #ff0000;
}

textarea
{
    overflow-y:scroll;
}

textarea {
  overflow-y: scroll;
}

/************************* CREATE MULTIPLE CHOICE QUESTION *************************/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

legend.scheduler-border {
  width: inherit;
  /* Or auto */
  padding: 0 10px;
  /* To give a bit of padding on the left and right */
  border-bottom: none;
}

.page-title {
  font-weight: 600;
  padding: 20px;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 30px;
  text-align: center;
  text-transform:uppercase;
  font-size: 1.5rem;
}

/************************* HOME PAGE *************************/
.test-icon {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #86f0bd;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  font-family: calibri,calibriregular;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  text-align: center;
  line-height: 28px;
  margin: 6px 5px 0 0;
  float: left;
}

.vertical-line {
  border-left: 1px solid #56a056;
  /* height: 5px; */
}

.test-item {
  border-bottom: 1px;
}

/************************* PROFILE PAGE *************************/
.pf {
  padding-bottom: 10px;
  background: #f1f1f1;
}

.pf-main {
  /* width: 100%; */
  display: flex;
  /* margin: 0px auto; */
}

.pf-navi {
  width: 20%;
  background: #f1f1f1;
  padding: 25px 10px;
}

.pf-navi-img {
  height: 60px;
  border-bottom: 1px solid #d0cccc;
}

.pf-navi-avatar-thumb {
  display: flex;
  border-bottom: 1px solid gainsboro;
  height: 60px;
}

  .pf-navi-avatar-thumb img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  }

.pf-navi-user {
  text-overflow: ellipsis;
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.pf-navi-username {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 134px;
  overflow: hidden;
  font-weight: 600;
}

.pf-link {
  margin-top: 25px;
}

.pf-link-detail {
  margin: 15px 0px;
}

.pf-link-title {
  padding: 7px;
}

.pf-link-detail a {
  padding-left: 30px;
}

#my-profile {
  padding: 7px;
}

.pf-link-detail a:active {
  color: #f39f21;
}

.pf-info {
  width: 80%;
  padding: 25px;
  background: white;
  margin: 20px 0;
}

.pf-info-navi-title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #333;
  text-transform: capitalize;
}

.pf-info-navi-note {
  font-size: .875rem;
  line-height: 1.0625rem;
  color: #555;
  margin-top: 3px;
}

.pf-info-content {
  padding-top: 30px;
}

.pf-info-detail {
  margin-bottom: 10px;
}

.pf-info-detail label {
  display: inline-block;
  width: 120px;
  text-align: right;
  text-transform: capitalize;
  color: rgba(85,85,85,.8);
  margin: 10px;
  height: 30px;
}

.pf-info-detail input {
  display: inline-block;
  width: 400px;
  text-align: left;
  padding: 10px;
  height: 40px;
  font-size: .875rem;
}

.pf-info-content {
  width: 70%;
  border-right: 1px solid gainsboro;
}

.pf-info-image {
  width: 30%;
  padding: 0 27px;
}

.pf-info-check input {
  width: auto;
  height: auto;
  margin: 0 8px;
}

#output {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.pf-info-select-img {
  text-align: center;
  width: 100px;
  margin: 0 auto;
  height: 50px;
  border: 1px solid gainsboro;
  display: flex;
  align-items: center;
}

.pf-info-date-of-birth select {
  width: 105px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  height: 42px;
  font-size: .875rem;
  margin-right: 5px;
}

.btn-pf-save {
  /* color: white; */
  width: 100px;
  height: 40px;
  margin: 9px 0px 0px 143px;
  font-size: medium;
}

.product-choose-img {
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid rgba(85,85,85,.8);
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.pf-info-main {
  display: flex;
  padding-top: 30px;
}

/************************* PROFILE CHANGE PASSWORD PAGE *************************/
.pf-info-detail-pass label {
  display: inline-block;
  width: 150px;
  text-align: right;
  text-transform: capitalize;
  color: rgba(85,85,85,.8);
  margin: 10px;
  height: 30px;
}

.pf-info-detail-pass input {
  display: inline-block;
  width: 334px;
  text-align: left;
  padding: 10px;
  height: 40px;
  font-size: .875rem;
}

.btn-pf-save-pass {
  color: white;
  background-color: orange;
  width: 100px;
  height: 40px;
  margin: 9px 0px 0px 170px;
}