/************************* COMMON *************************/
html, body {
    height: 100%;
    margin: 0;
}

.footer {
    height: 282px;
}

/* HEADER */
.hd-logo {
    background: url('/multiple-choice-quiz/imgs/header-logo.png');
    width: 309px;
    height: 144px;
    background-size: cover;
}

.header-label {
    bottom: 0;
    left: 325px;
    position: absolute;
    font-size: xx-large;
}

.bottom-text {
    bottom: 0;
    position: absolute;
    right: 0;
}

a {
    text-decoration: none !important;
}

h1, h2, h3 {
    font-family: 'Kaushan Script', cursive;
}

/* Nav dropdown */
@media ( min-width : 992px) {
    .dropdown-menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
        vertical-align: middle;
    }
    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }
    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}

.dropdown-menu {
    min-width: fit-content;
}

/* FOOTER */
.page-footer, .footer-copyright {
    border-top: 1px solid #cecece;
}

.footer_contents {
    height: 282px;
    width: 100%;
    position: fixed;
    bottom: 0pt;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #d8d9db;
}

/************************* LOGIN & SIGNUP PAGE *************************/
.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.tx-tfm {
    text-transform: uppercase;
}

.mybtn {
    border-radius: 50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.facebook {
    color: #666;
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
    border: 1px solid lightgrey;
}

.fa {
    color: #127ac3;
}

form .error {
    color: #ff0000;
}

textarea {
    overflow-y: scroll;
}

textarea {
    overflow-y: scroll;
}

/* sign up error validation message */
.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}

/************************* CREATE MULTIPLE CHOICE QUESTION *************************/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

legend.scheduler-border {
    width: inherit;
    /* Or auto */
    padding: 0 10px;
    /* To give a bit of padding on the left and right */
    border-bottom: none;
}

.page-title {
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

/************************* HOME PAGE *************************/
.test-icon {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #86f0bd;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    font-family: calibri, calibriregular;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    text-align: center;
    line-height: 28px;
    margin: 6px 5px 0 0;
    float: left;
}

.vertical-line {
    border-left: 1px solid #56a056;
    /* height: 5px; */
}

.test-item {
    border-bottom: 1px;
}

.group-filling-answer-content {
    min-height: 200px;
}
/************************* PROFILE PAGE *************************/
.pf {
    padding-bottom: 10px;
    background: #f1f1f1;
}

.pf-main {
    /* width: 100%; */
    display: flex;
    /* margin: 0px auto; */
}

.pf-navi {
    width: 20%;
    background: #f1f1f1;
    padding: 25px 10px;
}

.pf-navi-img {
    height: 60px;
    border-bottom: 1px solid #d0cccc;
}

.pf-navi-avatar-thumb {
    display: flex;
    border-bottom: 1px solid gainsboro;
    height: 60px;
}

.pf-navi-avatar-thumb img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pf-navi-user {
    text-overflow: ellipsis;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.pf-navi-username {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 134px;
    overflow: hidden;
    font-weight: 600;
}

.pf-link {
    margin-top: 25px;
}

.pf-link-detail {
    margin: 15px 0px;
}

.pf-link-title {
    padding: 7px;
}

.pf-link-detail a {
    padding-left: 30px;
}

#my-profile {
    padding: 7px;
}

.pf-link-detail a:active {
    color: #f39f21;
}

.pf-info {
    width: 80%;
    padding: 25px;
    background: white;
    margin: 20px 0;
}

.pf-info-navi-title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #333;
    text-transform: capitalize;
}

.pf-info-navi-note {
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #555;
    margin-top: 3px;
}

.pf-info-content {
    padding-top: 30px;
}

.pf-info-detail {
    margin-bottom: 10px;
}

.pf-info-detail label {
    display: inline-block;
    width: 120px;
    text-align: right;
    text-transform: capitalize;
    color: rgba(85, 85, 85, .8);
    margin: 10px;
    height: 30px;
}

.pf-info-detail input {
    display: inline-block;
    width: 400px;
    text-align: left;
    padding: 10px;
    height: 40px;
    font-size: .875rem;
}

.pf-info-content {
    width: 70%;
    border-right: 1px solid gainsboro;
}

.pf-info-image {
    width: 30%;
    padding: 0 27px;
}

.pf-info-check input {
    width: auto;
    height: auto;
    margin: 0 8px;
}

#output {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.pf-info-select-img {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    height: 50px;
    border: 1px solid gainsboro;
    display: flex;
    align-items: center;
}

.pf-info-date-of-birth select {
    width: 105px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: 42px;
    font-size: .875rem;
    margin-right: 5px;
}

.btn-pf-save {
    /* color: white; */
    width: 100px;
    height: 40px;
    margin: 9px 0px 0px 143px;
    font-size: medium;
}

.product-choose-img {
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid rgba(85, 85, 85, .8);
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

.pf-info-main {
    display: flex;
    padding-top: 30px;
}

/************************* PROFILE CHANGE PASSWORD PAGE *************************/
.pf-info-detail-pass label {
    display: inline-block;
    width: 150px;
    text-align: right;
    text-transform: capitalize;
    color: rgba(85, 85, 85, .8);
    margin: 10px;
    height: 30px;
}

.pf-info-detail-pass input {
    display: inline-block;
    width: 334px;
    text-align: left;
    padding: 10px;
    height: 40px;
    font-size: .875rem;
}

.btn-pf-save-pass {
    color: white;
    background-color: orange;
    width: 100px;
    height: 40px;
    margin: 9px 0px 0px 170px;
}

/* custom name browse file */
.custom-file-input ~ .custom-file-label::after {
    content: "Tải file";
}

.end-exam-footer {
    text-align: left; /* For Edge */
    -moz-text-align-last: center; /* For Firefox prior 58.0 */
    text-align-last: center;
}

/************************* CREATE ONE ANSWER QUESTION *************************/
.extention {
    height: 30px;
}

#btn-add-note {
    display: none;
}

.cursor--lbl {
    cursor: pointer;
    margin: 0 auto;
}

.btn-add-answer {
    border: 0;
    outline: 0;
}

.btn-add-answer i {
    font-size: 30px;
    color: #28a745;
}

.question-content {
    width: -webkit-fill-available;
    width: -moz-available;
    min-height: 120px;
}

.answer {
    border: 1px solid #E7E9EB;
}

.answer__label {
    display: block;
    width: max-content;
    margin-bottom: 0;
}

.answer__value {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: 100%;
}

.answer__score {
    width: 40px;
    height: 100%;
    text-align: center;
}

/* true false question */
.answer__true-answer {
    width: 100%;
    position: relative;
    display: block;
    height: 100%;
}

.answer__true-answer input[type="checkbox"] {
    width: 100%;
    height: 100%;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
}

.answer__true-answer label {
    position: relative;
}

.answer__true-answer label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #7bbe72;
}

.answer__true-answer label:after {
    content: '';
    display: block;
    width: 20px;
    height: 10px;
    border-bottom: 2px solid #7bbe72;
    border-left: 2px solid #7bbe72;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 10px;
    left: 10px;
}

.answer__true-answer input[type="checkbox"]:checked ~ label::before {
    color: #7bbe72;
}

.answer__true-answer input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.answer__true-answer label {
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
/*     vertical-align: sub; */
    height: 100%;
}

.answer__true-answer label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.answer__true-answer input[type="checkbox"]:focus+label::before {
    outline: 0;
}

.total-answer__value {
    width: 3em;
    border: 1px solid black;
}

.btn-swap-answer i {
    font-size: 30px;
    color: #00bfff;
}

.btn-delete-answer i {
    font-size: 30px;
    color: #ff0000;
}

.fa-check {
    color: green !important;
}

.actual-lbl {
  background-color: #007cff;
  color: white;
  padding: 0.4rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
}

#file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
}

/* fix config icon of summer text cause by bootstrap css */
.note-editor > .panel-heading > .note-btn > .dropdown-togger:after {
    content: inherit;
}

.dropdown .dropdown-menu {
    position:absolute;
}

/************************* CREATE TEST PAGE *************************/
.frm-question-content-border {
    padding: .5rem;
    border: 2px groove #ccc;
    min-height: 100px;
    border-radius: 10px;
}

.frm-question-content-legend {
    font-weight: normal;
    background: #fff;
    margin-top: -22px;
    margin-left: 20px;
    padding: 0 8px 0 8px;
    width: 150px;
    height: 20px;
    font-size: 1.2em;
}

.frm-content p {
    font-weight: 700;
}

/* restyle line space for summernote has been override by _reboot.css of bootstrap */
.mcp-content p {
    margin-bottom: 0.2rem;
}