<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>

<title>Gửi yêu cầu</title>

<meta  content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" th:href="@{/imgs/fo-favicon.ico}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:rel="stylesheet" th:href="@{/summernote/summernote-bs4.css}" />
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</head>

<body>
    <!-- navbar -->
    <header th:replace="fragments/fo/navbar.html :: navbar "> </header>
    <!-- end navbar -->

    <!-- content -->
    <div class="container mt-3">
        <div class="page-title">LIÊN HỆ</div>
        <div>
            <h2>
                <span class="text-success" style="font-size: 16px;" th:utext="${message}"></span>
            </h2>
        </div>
        <form id="f-contact" th:action="@{/fo/contact}" method="post" th:object="${userRequest}">
            <div class="message">
                <div class="extention d-flex flex-row mt-3">
                    <div>Nội dung yêu cầu</div>
                </div>
                <div class="mcp-content">
                    <textarea i="content" class="question-content" th:field="*{content}"></textarea>
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-center pb-3">
                <div class="mx-2">
                    <input type="submit" class="btn btn-success" value="Gửi">
                </div>
                <div class="mx-2">
                    <a type="button" class="btn btn-danger" th:href="@{'/fo/index'}">Huỷ bỏ</a>
                </div>
            </div>
        </form>
    </div>
    <!-- end content -->

    <!-- footer -->
    <footer th:replace="fragments/fo/footer.html :: footer">
        <p>2021 mqconline.com</p>
    </footer>
    <!-- end footer -->

    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <script th:src="@{/summernote/summernote-bs4.js}"></script>

    <script type="text/javascript">
					$('#content').summernote({
						height : 200
					});
				</script>

</body>

</html>