<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<title>QUÊN MẬT KHẨU</title>

<meta  content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" th:href="@{/imgs/fo-favicon.ico}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-4.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet" type="js" th:href="@{/css/bootstrap-4.4.1/js/bootstrap.min.js}" />
<link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body style="padding-top: 4.2rem; padding-bottom: 4.2rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="myform form ">
                    <div class="logo">
                        <div class="col-md-12 text-center text-uppercase">
                            <h1>Quên Mật Khẩu</h1>
                        </div>
                        <hr>
                    </div>
                    <div th:if="${message != null}">
                        <p class="text-success">[[${message}]]</p>
                    </div>
                    <div th:if="${error != null}">
                        <p class="text-danger">[[${error}]]</p>
                    </div>
                    <form th:action="@{/fo/forgot-password}" method="post" name="forgot-password">
                        <div class="form-group">
                            <label for="email">
                                Vui lòng nhập địa chỉ Email
                                <span class="text-danger ml-1">*</span>
                            </label>
                            <input type="email" name="email" th:value=${email} class="form-control" id="email"
                                aria-describedby="emailHelp" placeholder="Nhập email">
                        </div>
                        <div class="col-md-12 text-center mb-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Tiếp tục</button>
                        </div>

                        <div class="form-group">
                            <p class="text-center">
                                Trở lại trang
                                <a th:href="@{/fo/login}" id="login">Đăng nhập</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>