<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>ĐĂNG NHẬP</title>

<link rel="shortcut icon" th:href="@{/imgs/fo-favicon.ico}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-4.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<script th:source="@{/css/bootstrap-4.4.1/js/bootstrap.min.js}"></script>
</head>
<body style="padding-top: 4.2rem; padding-bottom: 4.2rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="myform form ">
                    <div class="logo">
                        <div class="col-md-12 text-center text-uppercase">
                            <h1>ĐĂNG NHẬP</h1>
                        </div>
                        <hr>
                    </div>
                    <div class="text-justify" th:if="${param.error}">
                        <p style="font-size: 20; color: #FF1C19;">Đăng nhập thất bại!</p>
                    </div>
                    <form th:action="@{/fo/j_spring_security_login}" method="post" name="login">
                        <div class="form-group">
                            <label for="username">
                                Tên Đăng Nhập
                                <span class="text-danger ml-1">*</span>
                            </label>
                            <input type="text" name="username" class="form-control" id="username"
                                placeholder="Nhập tên đăng nhập" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="password">
                                Mật khẩu
                                <span class="text-danger ml-1">*</span>
                            </label>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="Nhập mật khẩu" required>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" />
                            Remember Me
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Đăng nhập</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">hoặc</span>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p class="text-center">
                                <a href="javascript:void();" class="facebook btn mybtn">
                                    <i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i>
                                    Đăng nhập với Facebook
                                </a>
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-center">
                                Chưa có tài khoản?
                                <a th:href="@{/fo/signup}" id="signup">Đăng ký</a>
                            </p>
                            <p class="text-center">
                                <a th:href="@{/fo/forgot-password}" id="forgot-password">Quên mật khẩu</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>