<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>CHÍNH SÁCH VÀ ĐIỀU KHOẢN</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-4.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet" type="js" th:href="@{/css/bootstrap-4.4.1/js/bootstrap.min.js}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-title text-capitalize">Chính sách dành cho người tham gia</div>
            <div></div>
        </div>
    </div>
</body>
</html>