<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CHÍNH SÁCH VÀ ĐIỀU KHOẢN</title>

<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</head>
<body>
    <!-- header -->
    <header th:replace="fragments/fo/header.html :: header"></header>
    <!-- end header -->

    <div class="container mt-3">
        <div class="page-title text-capitalize">
            <h3>Chính sách dành cho người tham gia</h3>
        </div>
        <div class="content">
            <div>
                <h4 class="font-weight-bold mb-3">GIỚI THIỆU</h4>
                <p>Cảm ơn bạn sử dụng dịch vụ của chúng tôi. Đây là dịch vụ mạng xã hội tracnghiemonline.com các chủ
                    đề giáo dục, được phát triển và cung cấp bởi sinh viên Nguyễn Tuấn Anh. Nội dung
                    tracnghiemonline.com được sử dụng hoàn toàn miễn phí. Để truy cập các dịch vụ của
                    tracnghiemonline.com, bạn phải đăng ký tài khoản. Dưới đây là các Điều khoản Dịch vụ của chúng tôi.
                    Bằng việc sử dụng dịch vụ của chúng tôi, bạn đang đồng ý với các điều khoản này. Vui lòng đọc kỹ các
                    điều khoản.</p>
            </div>
            <div>
                <h4 class="font-weight-bold my-3">ĐIỂU KHOẢN DỊCH VỤ</h4>
            </div>
            <div>
                <h5 class="font-weight-bold my-3">I. CHẤP NHẬN CÁC ĐIỀU KHOẢN</h5>
                <p>1. Bằng việc truy cập hay sử dụng dịch vụ của chúng tôi, bạn xác nhận rằng bạn đồng ý bị ràng
                    buộc bởi Điều khoản Dịch vụ này. Bạn cũng xác nhận rằng bạn ít nhất 14 tuổi hoặc nếu bạn dưới 14
                    tuổi, bạn có sự cho phép của cha mẹ hoặc người giám hộ hợp pháp, những người này sẽ chịu trách nhiệm
                    về việc tuân thủ Điều khoản Dịch vụ này của bạn.</p>
                <p>2. Các điều khoản này có thể được chúng tôi cập nhật. Bạn có thể xem bản mới nhất của Điều khoản
                    Dịch vụ bất kỳ lúc nào tại đây. Việc bạn tiếp tục sử dụng Dịch vụ sau khi chúng tôi có bất kỳ thay
                    đổi trong Điều khoản Dịch vụ thể hiện sự chấp nhận Điều khoản Dịch vụ mới của bạn.</p>
                <p>3. Bạn có thể chấm dứt việc sử dụng Dịch vụ của chúng tôi nếu bạn không đồng ý tuân thủ các Điều
                    khoản Dịch vụ này hoặc bất kỳ Điều khoản Dịch vụ nào trong tương lai do chúng tôi quy định.</p>
            </div>
            <div>
                <h5 class="font-weight-bold my-3">II. TÀI KHOẢN MIỄN PHÍ</h5>
                <p>Dịch vụ cho phép người dùng ("Người dùng") đăng ký tài khoản trên Dịch vụ để tạo và cập nhật hồ
                    sơ trực tuyến trên tracnghiemonline.com. Mỗi người dùng có thể tạo nhiều tài khoản khác nhau trên tracnghiemonline.com sử
                    dụng các hình thức đăng nhập thông qua Email, số điện thoại, Facebook, hoặc Google.</p>
            </div>
            <div>
                <h5 class="font-weight-bold my-3">III. ĐĂNG KÝ</h5>
                <p>1. Để truy cập và sử dụng dịch vụ được cung cấp trên website tracnghiemonline.com, Người dùng sẽ được
                    yêu cầu đăng ký Thành Viên trên website tracnghiemonline.com, thông tin cần phải điền vào mẫu đăng ký
                    Thành Viên gồm: Họ và tên, ngày sinh, email, số điện thoại liên lạc, ... Thành Viên tự chịu trách nhiệm về những thông tin đã cung cấp,
                    website tracnghiemonline.com không chịu bất kỳ trách nhiệm hay nghĩa vụ liên quan đến thông tin đã cung cấp của
                    Thành Viên.</p>
                <p>2. Bạn có trách nhiệm duy trì tính bảo mật của mật khẩu và tài khoản của mình, và hoàn toàn chịu
                    trách nhiệm cho tất cả các hoạt động diễn ra của tài khoản đó. Mỗi tài khoản phải được sử dụng riêng
                    và không được chuyển nhượng. Bạn đồng ý:</p>
                <p>2.1. Sử dụng tài khoản của bạn cho cá nhân mình và không chia sẻ tài khoản với người khác.</p>
                <p>2.2. Thông báo ngay cho chúng tôi bằng văn bản về việc sử dụng trái phép mật khẩu hoặc tài khoản
                    của bạn hoặc bất kỳ vi phạm nào khác về bảo mật.</p>
                <p>2.3. Cung cấp thông tin đúng, chính xác, cập nhật và đầy đủ về bản thân theo hướng dẫn trong mẫu
                    đăng ký Dịch vụ.</p>
                <p>2.4. Duy trì và cập nhật Dữ liệu Đăng ký để đảm bảo rằng dữ liệu đúng, chính xác, cập nhật và đầy
                    đủ.</p>
                <p>3. Trường hợp bạn chưa đủ 14 tuổi, bạn cần được sự cho phép của người giám hộ hợp pháp đăng ký
                    tài khoản cho bạn.</p>
            </div>
            <div>
                <h5 class="font-weight-bold my-3">IV. CHÍNH SÁCH BẢO MẬT THÔNG TIN</h5>
                <p>1. Dữ liệu Đăng ký và một số thông tin khác về bạn phải tuân theo Chính sách về Quyền riêng tư
                    của chúng tôi, các điều khoản của chính sách được kết hợp vào các Điều khoản Dịch vụ này bằng cách
                    tham chiếu. Việc xác định xem dữ liệu cá nhân nào có thể được chia sẻ trên Hồ sơ của bạn sẽ theo ý
                    của bạn và là trách nhiệm của bạn. Bằng cách đăng ký Dịch vụ, bạn chấp nhận các điều khoản của Điều
                    khoản Dịch vụ này, đồng thời, cũng cho biết bạn hiểu và đồng ý với việc thu thập, sử dụng và tiết lộ
                    thông tin được mô tả trong Chính sách về Quyền riêng tư của chúng tôi.</p>
                <p>1. Một số phần của chúng tôi cho phép bạn tải lên trên dịch vụ của chúng tôi bao gồm các thông
                    tin trong phần Thông tin Đăng ký thành viên như tên, ảnh đại diện, email, số điện thoại,… Tất cả các
                    thông tin được Người dùng đăng, tải lên, gửi qua email hoặc qua việc đăng ký mua Dịch vụ thuộc quyền
                    sở hữu và trách trách nhiệm của người dùng. tracnghiemonline.com không kiểm soát Nội dung và không chịu trách
                    nhiệm cho bất kỳ Nội dung nào mà Người dùng tải lên, đăng, gửi email, truyền tải hoặc làm cho có sẵn
                    thông qua Dịch vụ đồng thời không bảo đảm tính chính xác, nguyên vẹn hoặc chất lượng của các nội
                    dung đó.</p>
            </div>
            <div>
                <h5 class="font-weight-bold my-3">V. LIÊN HỆ</h5>
                <p>1. Hãy liên lạc với chúng tôi khi có bất kỳ thắc mắc hoặc để báo cáo bất kỳ hành vi vi phạm các
                    Điều khoản Dịch vụ theo địa chỉ <a href="mailto:support@mqconline.com">support@mqconline.com</a>.</p>
                <p>2. tracnghiemonline.com có thể liên lạc với bạn và gửi cho bạn các thông báo, bao gồm cả thông báo liên quan
                    đến những thay đổi trong Điều khoản Dịch vụ này, qua email, điện thoại bằng cách đăng ký nhận thông
                    báo.</p>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/fo/footer.html :: footer">
        <p>2021 mqconline.com</p>
    </footer>

    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>