<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Đăng Ký</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" th:href="@{/imgs/fo-favicon.ico}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-4.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet" type="js" th:href="@{/css/bootstrap-4.4.1/js/bootstrap.min.js}" />
<link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome/css/all.min.css}">
<link rel="stylesheet" th:href="@{/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
<link rel="stylesheet" th:href="@{/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>

<body style="padding-top: 2rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="myform form ">
                    <div class="logo">
                        <div class="col-md-12 text-center text-uppercase">
                            <h1 class="">ĐĂNG KÝ</h1>
                        </div>
                        <hr>
                    </div>
                    <h2>
                        <span class="text-success" style="font-size: 16px;" th:utext="${successMessage}"></span>
                    </h2>
                    <form th:action="@{/fo/signup}" method="post" th:object="${signUpForm}">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="lastname">Họ</label>
                                <input type="text" th:field="*{lastname}" class="form-control" id="lastname"
                                    placeholder="Nhập họ">
                            </div>
                            <div class="col-sm-6">
                                <label for="firstname">Tên</label>
                                <input type="text" th:field="*{firstname}" class="form-control" id="firstname"
                                    placeholder="Nhập tên">
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="username">
                                Tên đăng nhập
                                <span class="text-danger ml-1">*</span>
                            </label>
                            <input type="text" th:field="*{username}" class="form-control" id="username"
                                placeholder="Nhập tên đăng nhập">
                            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                class="validation-message"></small>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Địa chỉ Email
                                <span class="text-danger ml-1">*</span>
                            </label>
                            <input type="email" th:field="*{email}" class="form-control" id="email"
                                placeholder="Nhập email">
                            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></small>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="control-label" for="inputWarning">Ngày sinh</label>
                                <input type="text" name="birthday" id="birthday"
                                    th:value="${#temporals.format(signUpForm?.birthday, 'dd-MM-yyyy')}"
                                    class="form-control">
                                <small th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"
                                    class="validation-message"></small>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label" for="inputWarning">Giới tính</label>
                                <select class="form-control" th:field="*{gender}">
                                    <option
                                        th:each="genderOtp : ${T(vn.com.multiplechoice.dao.model.enums.Gender).values()}"
                                        th:value="${genderOtp}" th:text="${genderOtp.value}">Giới tính</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">
                                Mật khẩu
                                <span class="text-danger ml-1">*</span>
                            </label>
                            <input type="password" th:field="*{password}" id="password" class="form-control"
                                placeholder="Nhập mật khẩu">
                            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                class="validation-message"></small>
                        </div>
                        <div class="form-group">
                            <label for="re-password">
                                Nhập lại mật khẩu
                                <span class="text-danger ml-1">*</span>
                            </label>
                            <input type="password" th:field="*{rePassword}" id="re-password" class="form-control"
                                placeholder="Nhập lại mật khẩu">
                            <small th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}"
                                class="validation-message"></small>
                        </div>
                        <div class="form-group">
                            <p class="text-center">
                                Bằng việc đăng ký, bạn đã đồng ý với
                                <a th:href="@{/policy}">Điều Khoản</a>
                                của chúng tôi.
                            </p>
                        </div>
                        <div class="col-md-12 text-center mb-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">ĐĂNG KÝ NGAY</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <p class="text-center">
                                    <a th:href="@{/fo/login}" id="signin">Bạn đã có tài khoản?</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<script>
	$('#birthday').datepicker({
		autoclose : true,
		todayHighlight : true,
		format : "dd-mm-yyyy",
	});
	/* function updateBirthday() {
		let date = $('#birthdayDisplay').datepicker('getDate');
		$('#birthday').val(date.getDay() + "-" + date.getMonth() + "-" + date.getFullYear());
	    console.log($('#birthday').value);
	    // let parts = birthdayStr.split("-");
	    //$('#birthday').value = new Date(parseInt(parts[2], 10), parseInt(parts[1], 10) - 1, parseInt(parts[0], 10));
	} */
</script>

</html>