<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head>

<title>Đề thi chi tiết</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-4.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script th:src="@{/css/bootstrap-4.4.1/js/bootstrap.min.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

</head>

<body>
	<!-- header -->
	<header th:replace="fragments/fo/header.html :: header "> </header>
	<!-- end header -->

	<!-- content -->
	<div class="container mt-3" style="width: 595.2756px;"
		th:object="${test}">
		<div class="page-title">ĐỀ THI CHI TIẾT</div>

		<div class="test-content" id="test-content">
			<div th:utext="${header}"></div>
			<div>
				<h3 class="text-center my-3 font-" th:text="${test.content}"></h3>
			</div>
			<div class="detail" th:each="question,iterStat : ${test.questions}">
				<div>
					<p class="font-weight-bold"
						th:utext="'Câu ' + (${iterStat.index} + 1) + '. ' + ${question.content}"></p>
				</div>
				<div class="question-answer">
					<div class="flex-row" th:if="${question.answerA} != null">
						<div class="ml-4">
							<p th:text="'A. ' + ${question.answerA}" style="width: 700px;">
						</div>
					</div>
					<div class="flex-row" th:if="${question.answerB} != null">
						<div class="ml-4">
							<p th:text="'B. ' + ${question.answerB}" style="width: 700px;">
						</div>
					</div>
					<div class="flex-row" th:if="${question.answerC} != null">
						<div class="ml-4">
							<p th:text="'C. ' + ${question.answerC}" style="width: 700px;">
						</div>
					</div>
					<div class="flex-row" th:if="${question.answerD} != null">
						<div class="ml-4">
							<p th:text="'D. ' + ${question.answerD}" style="width: 700px;">
						</div>
					</div>
					<div class="flex-row" th:if="${question.answerE} != null">
						<div class="ml-4">
							<p th:text="'E. ' + ${question.answerE}" style="width: 700px;">
						</div>
					</div>
					<div class="flex-row" th:if="${question.answerF} != null">
						<div class="ml-4">
							<p th:text="'F. ' + ${question.answerF}" style="width: 700px;">
						</div>
					</div>
					<div class="flex-row" th:if="${question.answerG} != null">
						<div class="ml-4">
							<p th:text="'G. ' + ${question.answerG}" style="width: 700px;">
						</div>
					</div>
					<div class="flex-row" th:if="${question.answerH} != null">
						<div class="ml-4">
							<p th:text="'H. ' + ${question.answerH}" style="width: 700px;">
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="mt-3 d-flex justify-content-center pb-3">
			<div class="mx-2">
				<input type="button" class="btn btn-success" value="Tải file word">
			</div>
			<div class="mx-2">
				<input id="generatePdf" type="button" class="btn btn-primary"
					value="Tải file pdf">
			</div>
			<div class="mx-2">
				<input type="button" class="btn btn-danger" value="Huỷ bỏ">
			</div>
		</div>
	</div>
	<!-- end content -->

	<!-- footer -->
	<footer th:replace="fragments/fo/footer.html :: footer">
		<p>2021 mqconline.com</p>
	</footer>
	<!-- end footer -->
	
	<script type="text/javascript">
        $("#generatePdf").on("click", function () {
            var divContents = $("#test-content").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title></title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
    </script>

</body>

</html>