<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>

<title>Tạo đề thi</title>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<link rel="shortcut icon" th:href="@{/imgs/fo-favicon.ico}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" th:href="@{/assets/timepicker/css/timepicker.min.css}">
<link rel="stylesheet" th:href="@{/assets/bootstrap-switch/bootstrap-switch.min.css}"/>
<link rel="stylesheet" th:href="@{/assets/bootstrap-dual-listbox/bootstrap-duallistbox.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-4.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script th:src="@{/css/bootstrap-4.4.1/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/timepicker/js/timepicker.min.js}"></script>
<script th:src="@{/assets/moment/moment.min.js}"></script>
<script th:src="@{/assets/bootstrap-dual-listbox/jquery.bootstrap-duallistbox.min.js}"></script>
<script th:src="@{/assets/bootstrap-switch/bootstrap-switch.min.js}"></script>

</head>

<body>
    <!-- header -->
    <header th:replace="fragments/fo/header.html :: header "> </header>
    <!-- end header -->

    <!-- content -->
    <div class="container mt-3">
        <div class="page-title">TẠO ĐỀ THI</div>
        <div class="row ">
            <div class="col-md-8 m-3">
                <form method="post" th:action="@{/fo/contests}" enctype="multipart/form-data" th:object="${options}">
                    <div class="form-group">
                        <label class="font-weight-bold">Tên đề thi:</label>
                        <input type="text" class="form-control" th:field="*{content}">
                    </div>
                    <div class="form-group">
                        <div>
                            <label class="font-weight-bold">Header cho đề thi:</label>
                        </div>
                        <div class="custom-file">
                            <input type="file" name="file" accept=".doc, .docx" id="actual-btn" hidden />
                            <!-- our custom upload button -->
                            <label class="actual-lbl" for="actual-btn">Chọn tệp tin</label>
                            <!-- name of file chosen -->
                            <span id="file-chosen">Chưa có tệp tin được chọn</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Công khai đề thi:</label>
                        <input type="checkbox" th:field="*{public}" data-toggle="switch">
                    </div>
                    <div class="form-group">
                        <label for="executeTime" class="font-weight-bold">Thời gian làm bài (HH:mm):</label>
                        <div class="input-group date" id="execute_time">
                            <input type="text" class="form-control col-2 bs-timepicker" th:field="*{executeTime}"/>
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <select multiple="multiple" size="10" name="selected[]" id="optionsbox" th:field="*{selected}"
                            class="form-control">
                            <option th:each="questId : ${questIds}" th:value="${questId}"
                                th:text="'Câu hỏi ' + ${questId}"></option>
                        </select>
                    </div>
                    
                    <!-- fragment: question content detail -->
                    <div class="question-content mt-4">
                        <div class="frm-question-content-border">
                            <h1 class="frm-question-content-legend">Chi tiết câu hỏi</h1>
                            <div id="question-detail">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary mt-3" type="submit">Tạo mới</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row"></div>
    </div>
    <!-- end content -->

    <!-- footer -->
    <footer th:replace="fragments/fo/footer.html :: footer">
        <p>2021 mqconline.com</p>
    </footer>
    <!-- end footer -->

</body>

<script>
	const actualBtn = document.getElementById('actual-btn');

	const fileChosen = document.getElementById('file-chosen');

	actualBtn.addEventListener('change', function() {
		fileChosen.textContent = this.files[0].name
	})
	
	$('#optionsbox').bootstrapDualListbox({
		nonSelectedListLabel : 'Danh sách câu hỏi',
		infoText : 'Hiển thị {0}',
		selectedListLabel : 'Danh sách chọn',
		filterPlaceHolder : 'Lọc',
		infoTextEmpty : 'Kết quả',
		moveSelectedLabel : 'Thêm câu hỏi',
		moveAllLabel : 'Thêm tất cả',
		removeSelectedLabel : 'Xóa câu hỏi',
		removeAllLabel : 'Làm lại',
		preserveSelectionOnMove : 'moved',
		moveOnSelect : false,
	});

	$('[data-toggle="switch"]').bootstrapSwitch();

	$(document).ready(function() {
	    $('.bs-timepicker').timepicker();

	    $("select[name='selected_helper1']").on('change', function(e) {
	        let val = $(this).val();
	        $("select[name='selected_helper1'] option:selected").each(function() {
	          var $this = $(this);
	          if ($this.length) {
	            let questionId = $this.val();
	            $.ajax({
	            	type : "GET",
	             	url : "/multiple-choice-quiz/fo/questions/fragment/" + questionId,
	             	success : function(response) {
	             		$("#question-detail").replaceWith(response);
	             	}
	            });
	          }
	        });

	      });
	});
</script>

</html>