<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>

<title>Danh sách câu hỏi cá nhân</title>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-4.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script th:src="@{/css/bootstrap-4.4.1/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

</head>

<body>
  <!-- navbar -->
  <header th:replace="fragments/fo/navbar.html :: navbar "> </header>
  <!-- end navbar -->

  <!-- content -->
  <div class="container mt-3" th:object="${questions}">
    <div class="page-title">DANH SÁCH CÂU HỎI CỦA BẠN</div>

    <div class="test-content" id="test-content">
      <table class="table" >
        <thead>
          <tr>
            <th scope="col" id="index">STT</th>
            <th scope="col" id="id">ID</th>
            <th scope="col" id="type">Loại</th>
            <th scope="col" id="content">Nội dung</th>
            <th scope="col" id="testSize">Đề thi sử dụng</th>
            <th scope="col" id="action">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:if="${not #lists.isEmpty(questions.page)}">
            <tr th:each="question, questionStatus : ${questions.page}">
              <td th:text="${questionStatus.count}"></td>
              <td th:text="${question.id}"></td>
              <td th:if="${#strings.equals(question.type, 'ONE_ANSWER')}">Một đáp án</td>
              <td th:if="${#strings.equals(question.type, 'MULTIPLE_ANSWER')}">Nhiều đáp án</td>
              <td th:if="${#strings.equals(question.type, 'MATCHING')}">Nối chéo</td>
              <td th:if="${#strings.equals(question.type, 'FILLING')}">Điền khuyết loại 1</td>
              <td th:if="${#strings.equals(question.type, 'GROUP_FILLING')}">Điền khuyết loại 2</td>
              <td th:if="${#strings.equals(question.type, 'UNDERLINE')}">Câu hỏi gạch chân</td>
              <td th:if="${#strings.equals(question.type, 'YES_NO')}">Đúng sai</td>
              <td th:if="${#strings.equals(question.type, 'TRUE_FALSE')}">Đúng sai có điểm</td>
              <td th:utext="${question.content}"></td>
              <td th:text="${#lists.size(question.tests)}"></td>
              <td>
                <div class="d-flex justify-content-around">
                  <a th:href="@{'/fo/questions/' + ${#strings.toLowerCase(question.type)} + '/' + ${question.id}}" class="btn btn-sm btn-primary mr-1" title="Sửa">
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                    Sửa
                  </a>
                  <a th:href="@{'/fo/questions/' + ${question.id}}" class="btn btn-sm btn-primary mr-1" title="Xóa">
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                    Xóa 
                  </a>
                </div>
                <div class="d-flex justify-content-around">
                  
                </div>
              </td>
            </tr>
          </th:block>
          <th:block th:if="${#lists.isEmpty(questions.page)}">
            <tr class="odd">
              <td colspan="7" class="dataTables_empty text-center">Không có dữ liệu</td>
            </tr>
          </th:block>
        </tbody>
      </table>

    </div>

  <!--  pagination -->
  <nav aria-label="Page navigation example" class="my-3">
            <ul class="pagination justify-content-center">
                <div class="row"
                    th:if="${not #lists.isEmpty(questions.page)}">
                    <div
                        class="dataTables_paginate paging_simple_numbers d-flex flex-row-reverse"
                        id="example_paginate">
                        <ul class="pagination">
                            <li
                                class="paginate_button page-item previous"
                                id="example_previous"
                                th:classappend="${!questions.paging.isPrevEnabled() ? 'disabled' : ''}">
                                <a
                                th:href="@{?(pageSize=${size},pageNumber=${questions.paging.pageNumber - 1})}"
                                aria-controls="example" data-dt-idx="0"
                                tabindex="0" class="page-link">Trước</a>
                            </li>
                            <th:block
                                th:each="item : ${questions.paging.getItems()}">
                                <li class="page-item"
                                    th:classappend="${item.index == questions.paging.pageNumber ? 'active' : ''}"
                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                    <a class="page-link"
                                    th:href="@{?(pageSize=${size},pageNumber=${item.index})}"
                                    th:text="${item.index}"></a>
                                </li>
                                <li class="page-item disabled"
                                    th:if="${item.pageItemType.name() == 'DOTS'}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                            </th:block>
                            <li class="page-item"
                                th:classappend="${!questions.paging.isNextEnabled() ? 'disabled' : ''}">
                                <a class="page-link"
                                th:href="@{?(pageSize=${size},pageNumber=${questions.paging.pageNumber + 1})}">Kế</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
        </nav>
  
  </div>
  <!-- end content -->

  <!-- footer -->
  <footer th:replace="fragments/fo/footer.html :: footer">
    <p>2021 mqconline.com</p>
  </footer>
  <!-- end footer -->

  <script type="text/javascript">
			
		</script>
</body>

</html>