<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
<title>DANH SÁCH CÂU HỎI</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" th:href="@{/imgs/favicon.ico}">
<link th:href="@{/vendor/fontawesome/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:rel="stylesheet" th:href="@{/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
<link th:rel="stylesheet" th:href="@{/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />
<link th:rel="stylesheet" th:href="@{/assets/datatable/datatables.css}" />
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- header -->
        <header th:replace="fragments/bo/header.html :: header "> </header>
        <!-- end header -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                    th:text="${#authentication.getPrincipal().getUsername()}">Chào Admin</span>
                                <img class="img-profile rounded-circle" th:src="@{/imgs/undraw_profile.svg}"
                                    alt="profile">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" th:href="@{/bo/j_spring_security_logout}">
                                    <span class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></span>
                                    Đăng Xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Câu hỏi</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Danh sách</h6>
                        </div>
                        <div class="card-body">
                            <form class="d-none d-md-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" th:action="@{/bo/questions}" method="post" th:object="${questionCriteria}">
                                <div class="input-group">
                                    <input type="text" class="rounded col-3 bg-light small" th:field="*{searchText}" style="border: 1px solid #d1d3e2;"
                                        placeholder="Tìm kiếm ..." aria-label="Tìm kiếm">
                                    <div class="dropdown mx-2">
                                        <select class="custom-select" th:field="*{type}">
                                            <option value="" selected>Loại câu hỏi</option>
                                            <option value="YES_NO">Đúng sai</option>
                                            <option value="TRUE_FALSE">Đúng sai có điểm</option>
                                            <option value="ONE_ANSWER">Một đáp án</option>
                                            <option value="MULTIPLE_ANSWER">Nhiều đáp án</option>
                                            <option value="MATCHING">Ghép cặp</option>
                                            <option value="UNDERLINE">Gạch chân</option>
                                            <option value="COMPLETION_1">Điền khuyết loại 1</option>
                                            <option value="COMPLETION_2">Điền khuyết loại 2</option>
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <button class="btn btn-primary" type="submit">
                                            Tìm kiếm
                                        </button>
                                    </div>
                                </div>

                                <div class="dataTable-top float-left mt-2">
                                    <div class="dataTable-dropdown my-2">
                                        <label>
                                            Hiển thị
                                            <select class="custom-select custom-select form-control form-control mx-2" th:field="*{size}">
                                                <option th:each="pageSize : ${T(vn.com.multiplechoice.dao.model.enums.PageSize).values()}"
                                                        th:value="${pageSize}"
                                                        th:text="${pageSize.value}">
                                                </option>
                                            </select>kết quả
                                        </label>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="example" class="table table-bordered table-responsive" style="width: 100%" aria-describedby="list of question">
                                    <thead>
                                        <tr>
                                            <th class="sorting" id="id">ID</th>
                                            <th class="sorting" id="question-content">Nội dung câu hỏi</th>
                                            <th class="sorting" id="question-type">Loại câu hỏi</th>
                                            <th class="sorting" id="true-answer">Đáp án đúng</th>
                                            <th class="sorting" id="suggest-explain">Gợi ý/Giải thích</th>
                                            <th class="sorting" id="author">Tác giả</th>
                                            <th class="sorting" id="action">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:if="${not #lists.isEmpty(questions.page)}">
                                            <tr th:each="question : ${questions.page}">
                                                <td th:text="${question.id}"></td>
                                                <td th:utext="${question.content}"></td>
                                                <td th:if="${#strings.equals(question.questionType, 'ONE_ANSWER')}">Một
                                                    câu trả lời</td>
                                                <td th:if="${#strings.equals(question.questionType, 'MULTIPLE_ANSWER')}">Nhiều
                                                    đáp án đúng</td>
                                                <td th:if="${#strings.equals(question.questionType, 'MATCHING')}">Câu
                                                    hỏi nối chéo</td>
                                                <td th:if="${#strings.equals(question.questionType, 'COMPLETION_1')}">Điền
                                                    khuyết loại 1</td>
                                                <td th:if="${#strings.equals(question.questionType, 'COMPLETION_2')}">Điền
                                                    khuyết loại 2</td>
                                                <td th:if="${#strings.equals(question.questionType, 'UNDERLINE')}">Câu
                                                    hỏi gạch chân</td>
                                                <td th:if="${#strings.equals(question.questionType, 'YES_NO')}">Đúng
                                                    sai</td>
                                                <td th:if="${#strings.equals(question.questionType, 'TRUE_FALSE')}">Đúng
                                                    sai có điểm</td>
                                                <td th:text="${question.rightAnswer}"></td>
                                                <td th:utext="${question.suggest}"></td>
                                                <td th:text="*{question.user.username}"></td>
                                                <td>
                                                    <div class="d-flex justify-content-around">
                                                        <a th:href="@{'/bo/questions/' + ${question.id}}"
                                                            class="btn btn-primary mr-2" title="Chi tiết">
                                                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                        <th:block th:if="${#lists.isEmpty(questions.page)}">
                                            <tr class="odd">
                                                <td colspan="7" class="dataTables_empty text-center">Không có dữ
                                                    liệu</td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" th:if="${not #lists.isEmpty(questions.page)}">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
                                        Hiển thị
                                        <span th:text="${_START_}"></span>
                                        tới
                                        <span th:text="${_END_}"></span>
                                        của
                                        <span th:text="${_TOTAL_}"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                        <ul class="pagination">
                                            <li id="example_previous" class="paginate_button page-item previous"
                                                th:classappend="${!questions.paging.isPrevEnabled() ? 'disabled' : ''}">
                                                <a
                                                    th:href="@{?(pageSize=${size},pageNumber=${questions.paging.pageNumber - 1},searchText=(${questionCriteria.searchText} ? ${questionCriteria.searchText} : ''),type=(${questionCriteria.type} ? ${questionCriteria.type} : ''))}"
                                                    aria-controls="example" data-dt-idx="0" tabindex="0"
                                                    class="page-link">Trước</a>
                                            </li>
                                            <th:block th:each="item : ${questions.paging.getItems()}">
                                                <li class="page-item"
                                                    th:classappend="${item.index == questions.paging.pageNumber ? 'active' : ''}"
                                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                                    <a class="page-link"
                                                        th:href="@{?(pageSize=${size},pageNumber=${item.index},searchText=(${questionCriteria.searchText} ? ${questionCriteria.searchText} : ''),type=(${questionCriteria.type} ? ${questionCriteria.type} : ''))}"
                                                        th:text="${item.index}"></a>
                                                </li>
                                                <li class="page-item disabled"
                                                    th:if="${item.pageItemType.name() == 'DOTS'}">
                                                    <a class="page-link" href="#">...</a>
                                                </li>
                                            </th:block>
                                            <li id="example_next" class="paginate_button page-item next"
                                                th:classappend="${!questions.paging.isNextEnabled() ? 'disabled' : ''}">
                                                <a class="page-link"
                                                    th:href="@{?(pageSize=${size},pageNumber=${questions.paging.pageNumber + 1},searchText=(${questionCriteria.searchText} ? ${questionCriteria.searchText} : ''),type=(${questionCriteria.type} ? ${questionCriteria.type} : ''))}">Kế</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- footer -->
                <footer th:replace="fragments/bo/footer.html :: footer">
                    <p>2021 mqconline.com</p>
                </footer>
                <!-- end footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</body>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/datatable/datatables.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script>
  $('#example')
      .DataTable({
          "processing": false
  });
</script>
</html>