<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
<title>DANH SÁCH NGƯỜI DÙNG</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="#">
<link th:href="@{/vendor/fontawesome/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:rel="stylesheet" th:href="@{/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
<link th:rel="stylesheet" th:href="@{/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />
<link th:rel="stylesheet" th:href="@{/assets/datatable/datatables.css}" />
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- header -->
        <header th:replace="fragments/bo/header.html :: header "> </header>
        <!-- end header -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                    th:text="${#authentication.getPrincipal().getUsername()}">Chào Admin</span>
                                <img class="img-profile rounded-circle" th:src="@{/imgs/undraw_profile.svg}"
                                    alt="profile">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" th:href="@{/bo/j_spring_security_logout}">
                                    <span class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></span>
                                    Đăng Xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Người dùng</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Danh sách</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="table table-bordered table-responsive" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th id="id">ID</th>
                                            <th id="last-name">Họ</th>
                                            <th id="first-name">Tên</th>
                                            <th id="username">Tên đăng nhập</th>
                                            <th id="email">Địa chỉ email</th>
                                            <th id="phone-number">Số điện thoại</th>
                                            <th id="role">Quyền</th>
                                            <th id="action">Hành động</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- footer -->
                <footer th:replace="fragments/bo/footer.html :: footer">
                    <p>2021 mqconline.com</p>
                </footer>
                <!-- end footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</body>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/datatable/datatables.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<script>

    $('#example')
    .DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/multiple-choice-quiz/bo/users/ajax/list",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function(d) {
                return JSON.stringify(d);
            }
        },
        "columns": [{
                "data": "id",
                "width": "5%"
            },
            {
                "data": "lastname",
                "width": "12%"
            },
            {
                "data": "firstname",
                "width": "12%"
            },
            {
                "data": "username",
                "width": "18%"
            },
            {
                "data": "email",
                "width": "18%"
            },
            {
                "data": "phoneNumber",
                "width": "15%"
            },
            {
                "data": "role",
                "width": "15%",
                render: function(data, type, row) {
                    if (data == 'USER') {
                        return 'Người dùng';
                    }
                    if (data == 'ADMIN') {
                        return 'Quản trị viên';
                    }
                    if (data == 'INSPECTOR') {
                        return 'Kiểm duyệt viên';
                    }
                    if (data == 'CREATOR') {
                        return 'Người tạo đề thi';
                    }
                }
            },
            {
                data: null,
                "width": "10%",
                render: function(data, type, row) {
                    return '<div class="d-flex justify-content-around"><a href="/multiple-choice-quiz/bo/users/' + data.id + '" class="btn btn-primary mr-2" title="Chi tiết"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a><a href="javascript:deleteUser(' +
                        data.id +
                        ')" class="btn btn-danger" title="Xóa"><i class="fa fa-trash-alt" aria-hidden="true"></i></a></div>';
                }
            }
        ],
        "language": {
            "info": "Hiển thị _START_ tới _END_ của _TOTAL_",
            "emptyTable": "Không có dữ liệu",
            "lengthMenu": "Hiển thị _MENU_ kết quả",
            "loadingRecords": "Xin đợi - Đang tải ...",
            "search": "Tìm kiếm:",
            "paginate": {
                "first": "Đầu",
                "last": "Cuối",
                "next": "Kế",
                "previous": "Trước"
            }
        }
    });

    function deleteUser(id) {
        $.ajax({
            type : "DELETE",
            url : "/multiple-choice-quiz/bo/users/" + id,
            contentType : "application/json",
            dataType : "json",
            error : function(e) {
                console.log(e);
            }
        });
    }
</script>

</html>