<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
<title>DANH SÁCH ĐỀ THI</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" th:href="@{/imgs/favicon.ico}">
<link th:href="@{/vendor/fontawesome/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:rel="stylesheet" th:href="@{/assets/daterangepicker/daterangepicker.css}"/>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- header -->
        <header th:replace="fragments/bo/header.html :: header "> </header>
        <!-- end header -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                    th:text="${#authentication.getPrincipal().getUsername()}">Chào Admin</span>
                                <img class="img-profile rounded-circle" th:src="@{/imgs/undraw_profile.svg}"
                                    alt="profile">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" th:href="@{/bo/j_spring_security_logout}">
                                    <span class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></span>
                                    Đăng Xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Đề thi</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Danh sách</h6>
                        </div>
                        <div class="card-body">
                            <form class="d-none d-md-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" th:action="@{/bo/tests}" method="post" th:object="${testCriteria}">
                                <div class="form-group row">
                                    <input type="text" class="form-control col-4 bg-light small" th:field="*{searchText}" style="border: 1px solid #d1d3e2;"
                                        placeholder="Tìm theo tên đề thi, tên tác giả ..." aria-label="Tìm kiếm">
                                    <div class="dropdown mx-2">
                                        <select class="custom-select" th:field="*{status}">
                                            <option value="" selected>Trạng thái</option>
                                            <option value="WAITING">Chờ duyệt</option>
                                            <option value="APPROVED">Đã duyệt</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 p-0 mr-2">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="dateRange" autocomplete="off" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:object="${testCriteria.dateRange}">
                                        <input type="hidden" th:field="*{fromDate}"/>
                                        <input type="hidden" th:field="*{toDate}"/>
                                    </div>
                                    <div class="input-group">
                                        <button class="btn btn-primary" type="submit">
                                            Tìm kiếm
                                        </button>
                                    </div>
                                </div>

                                <div class="dataTable-top float-left mt-2">
                                    <div class="dataTable-dropdown my-2">
                                        <label>
                                            Hiển thị
                                            <select class="custom-select custom-select form-control form-control mx-2" th:field="*{size}">
                                                <option th:each="pageSize : ${T(vn.com.multiplechoice.dao.model.enums.PageSize).values()}"
                                                        th:value="${pageSize}"
                                                        th:text="${pageSize.value}">
                                                </option>
                                            </select>
                                            kết quả
                                        </label>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="example" class="table table-bordered table-responsive" style="width: 100%" aria-describedby="list of test">
                                    <thead>
                                        <tr>
                                            <th id="id">ID</th>
                                            <th id="test-name">Tên đề thi</th>
                                            <th id="numb-of-question">Số lượng câu hỏi</th>
                                            <th id="created-date">Ngày tạo</th>
                                            <th id="status">Trạng thái</th>
                                            <th id="is-public">Công khai</th>
                                            <th id="creator-username">Tài khoản Tác giả</th>
                                            <th id="creator-full-name">Tên Tác giả</th>
                                            <th id="inspector">Người duyệt</th>
                                            <th id="action">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:if="${not #lists.isEmpty(tests.page)}">
                                            <tr th:each="test : ${tests.page}">
                                                <td th:text="${test.id}"></td>
                                                <td th:text="${test.content}"></td>
                                                <td th:text="${test.numOfQuestions}"></td>
                                                <td th:text="${#dates.format(test.createDate, 'dd-MM-yyyy')}"></td>
                                                <td th:if="${#strings.equals(test.status, 'WAITING')}">Chờ</td>
                                                <td th:if="${#strings.equals(test.status, 'APPROVED')}">Đã duyệt</td>
                                                <td>
                                                    <span th:if="*{test.public} == true">Có</span>
                                                    <span th:if="*{test.public} == false">Không</span>
                                                </td>
                                                <td th:text="${test.creator.username}"></td>
                                                <td th:text="${test.creator.lastname} + ' ' + ${test.creator.firstname}"></td>
                                                <td th:text="${test.inspector.username}"></td>
                                                <td>
                                                    <div class="d-flex justify-content-around">
                                                        <a th:href="|javascript:approveTest(${test.id})|" class="btn btn-success mr-2" title="Duyệt"
                                                           th:classappend="${#strings.equals(test.status, 'APPROVED')} ? 'disabled' ">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </a>
                                                        <a th:href="@{'/bo/tests/' + ${test.id}}"
                                                            class="btn btn-primary mr-2" title="Chi tiết">
                                                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                                        </a>
                                                        <a th:href="|javascript:deleteTest(${test.id})|" class="btn btn-danger mr-2"
                                                            title="Xóa">
                                                            <i class="fa fa-trash-alt" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                        <th:block th:if="${#lists.isEmpty(tests.page)}">
                                            <tr class="odd">
                                                <td colspan="10" class="dataTables_empty text-center">Không có dữ
                                                    liệu</td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" th:if="${not #lists.isEmpty(tests.page)}">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
                                        Hiển thị
                                        <span th:text="${_START_}"></span>
                                        tới
                                        <span th:text="${_END_}"></span>
                                        của
                                        <span th:text="${_TOTAL_}"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                
                                    <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous" id="example_previous"
                                                th:classappend="${!tests.paging.isPrevEnabled() ? 'disabled' : ''}">
                                                <a
                                                    th:href="@{?(pageSize=${size},pageNumber=${tests.paging.pageNumber - 1},searchText=(${testCriteria.searchText} ? ${testCriteria.searchText} : ''),status=(${testCriteria.status} ? ${testCriteria.status} : ''))}"
                                                    aria-controls="example" data-dt-idx="0" tabindex="0"
                                                    class="page-link">Trước</a>
                                            </li>
                                            <th:block th:each="item : ${tests.paging.getItems()}">
                                                <li class="page-item"
                                                    th:classappend="${item.index == tests.paging.pageNumber ? 'active' : ''}"
                                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                                    <a class="page-link"
                                                        th:href="@{?(pageSize=${size},pageNumber=${item.index},searchText=(${testCriteria.searchText} ? ${testCriteria.searchText} : ''),status=(${testCriteria.status} ? ${testCriteria.status} : ''))}"
                                                        th:text="${item.index}"></a>
                                                </li>
                                                <li class="page-item disabled"
                                                    th:if="${item.pageItemType.name() == 'DOTS'}">
                                                    <a class="page-link" href="#">...</a>
                                                </li>
                                            </th:block>
                                            <li class="page-item"
                                                th:classappend="${!tests.paging.isNextEnabled() ? 'disabled' : ''}">
                                                <a class="page-link"
                                                    th:href="@{?(pageSize=${size},pageNumber=${tests.paging.pageNumber + 1},searchText=(${testCriteria.searchText} ? ${testCriteria.searchText} : ''),status=(${testCriteria.status} ? ${testCriteria.status} : ''))}">Kế</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- footer -->
                <footer th:replace="fragments/bo/footer.html :: footer">
                    <p>2021 mqconline.com</p>
                </footer>
                <!-- end footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</body>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/moment/moment.min.js}"></script>
<script th:src="@{/assets/daterangepicker/daterangepicker.js}"></script>

<script>
    var $dateRange = $('#dateRange');

    $dateRange.daterangepicker({
        maxDate: new Date(),
        locale: {
            format: 'DD/MM/YYYY'
          }
    });

    $dateRange.on('apply.daterangepicker', function (ev, picker) {
        $('input[name="dateRange.fromDate"]').val(picker.startDate.format('DD/MM/YYYY'));
        $('input[name="dateRange.toDate"]').val(picker.endDate.format('DD/MM/YYYY'));
    });

    $(function() {
        $('input[id="dateRange"]').val( $('input[name="dateRange.fromDate"]').val() + ' - ' + $('input[name="dateRange.toDate"]').val());
    });

</script>

</html>